In [1]:
import pandas as pd
from datetime import date
df = pd.read_csv('/Users/linh.nguyen4/Downloads/04.Reconcile/03.Lotte/2023-07/lotte_mobi_report_20230731.csv')

In [10]:
df.columns = df.columns.str.upper()

In [11]:
df['RECEIVED_DATE'] = pd.to_datetime(df['RECEIVED_DATE']).dt.date 
df['REPORT_DATE'] = pd.to_datetime(df['REPORT_DATE']).dt.date 
df['QUALIFIED_DATE'] = pd.to_datetime(df['QUALIFIED_DATE']).dt.date 
df['DISBURSED_DATE'] = pd.to_datetime(df['DISBURSED_DATE']).dt.date

/var/folders/zj/mydw207x7yn_3hgkcg0q3j800000gr/T/ipykernel_81698/1673724969.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['RECEIVED_DATE'] = pd.to_datetime(df['RECEIVED_DATE']).dt.date
/var/folders/zj/mydw207x7yn_3hgkcg0q3j800000gr/T/ipykernel_81698/1673724969.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['REPORT_DATE'] = pd.to_datetime(df['REPORT_DATE']).dt.date
/var/folders/zj/mydw207x7yn_3hgkcg0q3j800000gr/T/ipykernel_81698/1673724969.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['QUALIFIED_DATE'] = pd.to_datetime(df['QUALIFIED_DATE']).dt.date
/var/folders/zj/mydw207x7yn_3hgkcg0q3j800000gr/T/ipykernel_81698/1673724969.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['DISBURSED_DATE'] = pd.to_datetime(df['DISBURSED_DATE']).dt.date

In [10]:
df2 = pd.read_csv('/Users/linh.nguyen4/Downloads/04.Reconcile/03.Lotte/2023-06/lotte_mbf_disbursed_2023-06.csv')
df2 = df2[['lead_id', 'sent_date']]
df2.rename(columns = {'sent_date': 'RECEIVED_DATE', 'lead_id':'LEAD_ID'}, inplace = True)
df2

      LEAD_ID RECEIVED_DATE
0    14122087    2023-05-31
1    14122102    2023-05-31
2    14122304    2023-05-31
3    14122971    2023-06-01
4    14122994    2023-06-01
..        ...           ...
99   14120185    2023-05-31
100  14120525    2023-05-31
101  14121264    2023-05-31
102  14121749    2023-05-31
103  14121792    2023-05-31

[104 rows x 2 columns]

In [13]:
df['PHONE_NUMBER'] = df['LEAD_ID']

In [15]:
df['LOAN_AMOUNT']=df['LOAN_AMOUNT'].astype(int)

In [16]:
df

,REPORT_DATE,PHONE_NUMBER,RECEIVED_DATE,SCORE_RANGE,TELCO_SOURCE,QUALIFIED_DATE,QUALIFIED,OLD_QUALIFIED,REASON,CHANGE_QUALIFIED_REASON,LEAD_ID,LOAN_AMOUNT,DISBURSED_DATE
0,2023-07-31,14215449,2023-06-30,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14215449,50000000,2023-07-24
1,2023-07-31,14216027,2023-07-05,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14216027,20000000,2023-07-07
2,2023-07-31,14216133,2023-07-05,[631-649],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14216133,20000000,2023-07-12
3,2023-07-31,14216186,2023-07-05,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14216186,20000000,2023-07-10
4,2023-07-31,14216196,2023-07-05,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14216196,20000000,2023-07-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,2023-07-31,14213888,2023-06-30,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14213888,50000000,2023-07-05
75,2023-07-31,14051629,2023-05-09,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14051629,50000000,2023-07-10
76,2023-07-31,14053425,2023-05-10,[601-630],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14053425,20000000,2023-07-12
77,2023-07-31,14102898,2023-05-24,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14102898,30000000,2023-07-19
78,2023-07-31,14118614,2023-05-30,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14118614,20000000,2023-07-13

In [17]:
df.to_csv('/Users/linh.nguyen4/Downloads/04.Reconcile/03.Lotte/2023-07/lotte_mobi_report_20230731.csv', index = False)

In [21]:
check = pd.read_csv('/Users/linh.nguyen4/Downloads/04.Reconcile/03.Lotte/2023-07/lotte_mobi_report_20230731.csv')
check

,REPORT_DATE,PHONE_NUMBER,RECEIVED_DATE,SCORE_RANGE,TELCO_SOURCE,QUALIFIED_DATE,QUALIFIED,OLD_QUALIFIED,REASON,CHANGE_QUALIFIED_REASON,LEAD_ID,LOAN_AMOUNT,DISBURSED_DATE
0,2023-07-31,14215449,2023-06-30,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14215449,50000000,2023-07-24
1,2023-07-31,14216027,2023-07-05,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14216027,20000000,2023-07-07
2,2023-07-31,14216133,2023-07-05,[631-649],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14216133,20000000,2023-07-12
3,2023-07-31,14216186,2023-07-05,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14216186,20000000,2023-07-10
4,2023-07-31,14216196,2023-07-05,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14216196,20000000,2023-07-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,2023-07-31,14213888,2023-06-30,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14213888,50000000,2023-07-05
75,2023-07-31,14051629,2023-05-09,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14051629,50000000,2023-07-10
76,2023-07-31,14053425,2023-05-10,[601-630],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14053425,20000000,2023-07-12
77,2023-07-31,14102898,2023-05-24,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14102898,30000000,2023-07-19
78,2023-07-31,14118614,2023-05-30,[650+],mobifone,2023-07-31,1,NaN,Giải ngân thành công,unchanged,14118614,20000000,2023-07-13

In [24]:
check[pd.to_datetime(check['RECEIVED_DATE']).dt.date < date(2023,8,1)].count()

REPORT_DATE                79
PHONE_NUMBER               79
RECEIVED_DATE              79
SCORE_RANGE                79
TELCO_SOURCE               79
QUALIFIED_DATE             79
QUALIFIED                  79
OLD_QUALIFIED               0
REASON                     79
CHANGE_QUALIFIED_REASON    79
LEAD_ID                    79
LOAN_AMOUNT                79
DISBURSED_DATE             79
dtype: int64